{block content}
	<div class="span9">
		<div class="item_description full-height">
			{*<h1>{$article->title}</h1>*}
			{*<h1>{$article->subtitle}</h1>*}
			<div class="text-left">
				{!$article->text}
			</div>
		</div>
	</div>
{/block}

{*{block title}{$items->name}{/block}*}