configuration has been saved.: konfigurace byla uložena.
sarah article: sarah články
sarah pages: sarah stránky
sarah contact: sarah kontakt
show note: ukázat poznámku
show icon: ukázat ikonu
dashboard: panel
