	<div id="main_slider">
		<div class="wrap">
			<div class="container">
				<div id="mySlider" class="carousel slide vertical">
					<div class="carousel-inner">
						<div class="item active">
							<div class="rounded fleft">
								<img src="{$basePath}/images/caj.jpg" alt="" width="200">
								<div class="inset_shadow"></div>
							</div>
{*
							<h2>komise</h2>
							<p>Přírodní produkty</p>
*}

						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
